@model NewWorld.Models.IslandViewModel
@{
    ViewBag.Title = Model.Island.Name;
    ViewBag.Id = Model.Island.Game.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="head-resources">
    <div class="head-resources-left">
        <img src="@Url.Content("~/Images/kasa.png")" class="image-resource" /> @Model.Coins
        @if (Model.YourIsland)
        {
            <img src="@Url.Content("~/Images/deski.png")" class="image-resource image-resource-head"/> @Math.Floor(Model.Resources.Deski)
            <img src="@Url.Content("~/Images/cegly.png")" class="image-resource image-resource-head" /> @Math.Floor(Model.Resources.Cegly)
            <img src="@Url.Content("~/Images/farmerzy.png")" class="image-resource image-resource-head" /> <div style="display:inline">@Model.Buildings.NeededFarmers</div><text>/</text>@Math.Floor(Model.Buildings.Farmerzy)
        }
    </div>
    <div class="head-resources-right">
        @if (Model.Island.Ziemniaki)
        {
            <img src="@Url.Content("~/Images/ziemniaki.png")" class="image-resource image-resource-head" />
        }
        @if (Model.Island.Chmiel)
        {
            <img src="@Url.Content("~/Images/chmiel.png")" class="image-resource image-resource-head" />
        }
        @if (Model.Island.Zboze)
        {
            <img src="@Url.Content("~/Images/zboze.png")" class="image-resource image-resource-head" />
        }
        @if (Model.Island.Papryka)
        {
            <img src="@Url.Content("~/Images/papryka.png")" class="image-resource image-resource-head" />
        }
        @if (Model.Island.Glinianka > 0)
        {
            <img src="@Url.Content("~/Images/glina.png")" class="image-resource image-resource-head" /> @Model.Island.Glinianka
        }
        @if (Model.Island.Zelazo > 0)
        {
            <img src="@Url.Content("~/Images/zelazo.png")" class="image-resource image-resource-head" /> @Model.Island.Zelazo
        }
    </div>
</div>
<div style="margin-top:50px; font-size:7px
@if(!Model.EmptyIsland)
{
    <text>; color:</text>
    switch(Model.Property.Color)
                    {
                        case NewWorld.Models.Color.green:
                            <text> green </text>
                            break;
                        case NewWorld.Models.Color.purple:
                            <text> purple </text>
                            break;
                        case NewWorld.Models.Color.red:
                            <text> red </text>
                            break;
                        case NewWorld.Models.Color.yellow:
                            <text>yellow</text>
                            break;
                    }
}
">
    <h2 style="display:inline">@Model.Island.Name</h2>
    @if (Model.YourIsland)
    {
        @Html.ActionLink("[Zmień nazwę]", "ChangeName", new { id = Model.Island.Id })
    }

</div>
@if (Model.YourIsland)
{
    <table align="center">
        <tr>
            @for (int i = 0; i < Model.ResourceImages.Count() / 2; i++)
            {
                <td class="resources-list">
                    <img src="/Images/@(Model.ResourceImages[i]).png" class="image-resource"><br />
                    @Math.Floor(Model.ResourcesList[i])
                </td>
            }
        </tr>
        <tr>
            @for (int i = Model.ResourceImages.Count() / 2; i < Model.ResourceImages.Count(); i++)
            {
                <td class="resources-list">
                    <img src="/Images/@(Model.ResourceImages[i]).png" class="image-resource"><br />
                    @Math.Floor(Model.ResourcesList[i])
                </td>
            }
        </tr>
    </table>
}
<table class="big-table">
    <tr>
        <td id="left-table">
            <table align="center">
                <tr>
                    <td class="satisfaction-name" colspan="3">
                        Farmerzy
                    </td>
                </tr>
                @if (Model.YourIsland)
                {
                    <tr>
                        <td class="satisfaction-name">
                            <img src="~/Images/ryby.png" class="image-resource"><br />
                            @Math.Floor(Model.Buildings.FarmersSatisfaction.Ryby) %
                        </td>
                        <td class="satisfaction-name">
                            <img src="~/Images/ubrania.png" class="image-resource"><br />
                            @Math.Floor(Model.Buildings.FarmersSatisfaction.Ubrania) %
                        </td>
                        <td class="satisfaction-name">
                            <img src="~/Images/sznaps.png" class="image-resource"><br />
                            @Math.Floor(Model.Buildings.FarmersSatisfaction.Sznaps) %
                        </td>
                    </tr>
                }
            </table>

        </td>
        <td id="right-table">
            <table border="1" cellpadding="50" class="big-table">
                <tr>
                    <th colspan="2" class="building">
                        Rezydencja farmerów
                    </th>
                </tr>
                <tr>
                    <td rowspan="2" class="building-image">
                        <img src="@Url.Content("~/Images/Buildings/RezydencjaFarmerow.jpg")" />
                    </td>
                    <td class="building-text">
                        Zamieszkuje w niej do 10<img src="@Url.Content("~/Images/farmerzy.png")" class="image-resource" /> <br />
                        Koszt wybudowania: 2<img src="@Url.Content("~/Images/deski.png")" class="image-resource" /> <br />
                        Liczba wybudowanych: @Model.Buildings.RezydencjaFarmerow
                    </td>
                </tr>
                @if (Model.YourIsland)
                {
                    <tr>
                        <td class="building-options">
                            @using (Html.BeginForm("Build", "Game", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                <input type="hidden" id="Name" name="Name" value="0">
                                <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.MaxBuildings[0]" style="width:65px">
                                <input type="submit" value="Zbuduj" />
                            }
                            @if (Model.Buildings.RezydencjaFarmerow > 0)
                            {
                                <br />
                                using (Html.BeginForm("Destroy", "Game", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                    <input type="hidden" id="Name" name="Name" value="0">
                                    <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.Buildings.RezydencjaFarmerow" style="width:65px">
                                    <input type="submit" value="Wyburz" />
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
            <table border="1" cellpadding="50" class="big-table">
                <tr>
                    <th colspan="2" class="building">
                        Chatka Rybacka
                    </th>
                </tr>
                <tr>
                    <td rowspan="2" class="building-image">
                        <img src="@Url.Content("~/Images/Buildings/ChatkaRybacka.jpg")" />
                    </td>
                    <td class="building-text">
                        Produkuje <img src="@Url.Content("~/Images/ryby.png")" class="image-resource" /> co 2 minuty<br />
                        Koszt wybudowania: 2<img src="@Url.Content("~/Images/deski.png")" class="image-resource" /> 100<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" /><br />
                        Utrzymanie: 25<img src="@Url.Content("~/Images/farmerzy.png")" class="image-resource" /> 2.5<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" />/min<br />
                        Liczba wybudowanych: @Model.Buildings.ChatkaRybacka
                    </td>
                </tr>
                @if (Model.YourIsland)
                {
                    <tr>
                        <td class="building-options">
                            @using (Html.BeginForm("Build", "Game", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                <input type="hidden" id="Name" name="Name" value="1">
                                <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.MaxBuildings[1]" style="width:65px">
                                <input type="submit" value="Zbuduj" />
                            }
                            @if (Model.Buildings.ChatkaRybacka > 0)
                            {
                                <br />
                                using (Html.BeginForm("Destroy", "Game", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                    <input type="hidden" id="Name" name="Name" value="1">
                                    <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.Buildings.ChatkaRybacka" style="width:65px">
                                    <input type="submit" value="Wyburz" />
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
            <table border="1" cellpadding="50" class="big-table">
                <tr>
                    <th colspan="2" class="building">
                        Chatka Drwala
                    </th>
                </tr>
                <tr>
                    <td rowspan="2" class="building-image">
                        <img src="@Url.Content("~/Images/Buildings/ChatkaDrwala.png")" />
                    </td>
                    <td class="building-text">
                        Produkuje <img src="@Url.Content("~/Images/drewno.png")" class="image-resource" /> co 1 minutę<br />
                        Koszt wybudowania: 100<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" /><br />
                        Utrzymanie: 5<img src="@Url.Content("~/Images/farmerzy.png")" class="image-resource" /> 2.5<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" />/min<br />
                        Liczba wybudowanych: @Model.Buildings.ChatkaDrwala
                    </td>
                </tr>
                @if (Model.YourIsland)
                {
                    <tr>
                        <td class="building-options">
                            @using (Html.BeginForm("Build", "Game", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                <input type="hidden" id="Name" name="Name" value="2">
                                <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.MaxBuildings[2]" style="width:65px">
                                <input type="submit" value="Zbuduj" />
                            }
                            @if (Model.Buildings.ChatkaDrwala > 0)
                            {
                                <br />
                                using (Html.BeginForm("Destroy", "Game", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                    <input type="hidden" id="Name" name="Name" value="2">
                                    <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.Buildings.ChatkaDrwala" style="width:65px">
                                    <input type="submit" value="Wyburz" />
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
            <table border="1" cellpadding="50" class="big-table">
                <tr>
                    <th colspan="2" class="building">
                        Tartak
                    </th>
                </tr>
                <tr>
                    <td rowspan="2" class="building-image">
                        <img src="@Url.Content("~/Images/Buildings/Tartak.png")" />
                    </td>
                    <td class="building-text">
                        Produkuje <img src="@Url.Content("~/Images/deski.png")" class="image-resource" /> z <img src="@Url.Content("~/Images/drewno.png")" class="image-resource" /> co 1 minutę<br />
                        Koszt wybudowania: 100<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" /><br />
                        Utrzymanie: 10<img src="@Url.Content("~/Images/farmerzy.png")" class="image-resource" /> 2.5<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" />/min<br />
                        Liczba wybudowanych: @Model.Buildings.Tartak
                    </td>
                </tr>
                @if (Model.YourIsland)
                {
                    <tr>
                        <td class="building-options">
                            @using (Html.BeginForm("Build", "Game", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                <input type="hidden" id="Name" name="Name" value="3">
                                <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.MaxBuildings[3]" style="width:65px">
                                <input type="submit" value="Zbuduj" />
                            }
                            @if (Model.Buildings.Tartak > 0)
                            {
                                <br />
                                using (Html.BeginForm("Destroy", "Game", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                    <input type="hidden" id="Name" name="Name" value="3">
                                    <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.Buildings.Tartak" style="width:65px">
                                    <input type="submit" value="Wyburz" />
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
            <table border="1" cellpadding="50" class="big-table">
                <tr>
                    <th colspan="2" class="building">
                        Farma owiec
                    </th>
                </tr>
                <tr>
                    <td rowspan="2" class="building-image">
                        <img src="@Url.Content("~/Images/Buildings/FarmaOwiec.jpg")" />
                    </td>
                    <td class="building-text">
                        Produkuje <img src="@Url.Content("~/Images/welna.png")" class="image-resource" /> co 2 minuty<br />
                        Koszt wybudowania: 2<img src="@Url.Content("~/Images/deski.png")" class="image-resource" /> 100<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" /><br />
                        Utrzymanie: 10<img src="@Url.Content("~/Images/farmerzy.png")" class="image-resource" /> 5<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" />/min<br />
                        Liczba wybudowanych: @Model.Buildings.FarmaOwiec
                    </td>
                </tr>
                @if (Model.YourIsland)
                {
                    <tr>
                        <td class="building-options">
                            @using (Html.BeginForm("Build", "Game", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                <input type="hidden" id="Name" name="Name" value="4">
                                <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.MaxBuildings[4]" style="width:65px">
                                <input type="submit" value="Zbuduj" />
                            }
                            @if (Model.Buildings.FarmaOwiec > 0)
                            {
                                <br />
                                using (Html.BeginForm("Destroy", "Game", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                    <input type="hidden" id="Name" name="Name" value="4">
                                    <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.Buildings.FarmaOwiec" style="width:65px">
                                    <input type="submit" value="Wyburz" />
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
            <table border="1" cellpadding="50" class="big-table">
                <tr>
                    <th colspan="2" class="building">
                        Zakład tkaczy
                    </th>
                </tr>
                <tr>
                    <td rowspan="2" class="building-image">
                        <img src="@Url.Content("~/Images/Buildings/ZakladTkaczy.jpg")" />
                    </td>
                    <td class="building-text">
                        Produkuje <img src="@Url.Content("~/Images/ubrania.png")" class="image-resource" /> z <img src="@Url.Content("~/Images/welna.png")" class="image-resource" /> co 2 minuty<br />
                        Koszt wybudowania: 2<img src="@Url.Content("~/Images/deski.png")" class="image-resource" /> 400<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" /><br />
                        Utrzymanie: 50<img src="@Url.Content("~/Images/farmerzy.png")" class="image-resource" /> 12.5<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" />/min<br />
                        Liczba wybudowanych: @Model.Buildings.ZakladTkaczy
                    </td>
                </tr>
                @if (Model.YourIsland)
                {
                    <tr>
                        <td class="building-options">
                            @using (Html.BeginForm("Build", "Game", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                <input type="hidden" id="Name" name="Name" value="5">
                                <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.MaxBuildings[5]" style="width:65px">
                                <input type="submit" value="Zbuduj" />
                            }
                            @if (Model.Buildings.ZakladTkaczy > 0)
                            {
                                <br />
                                using (Html.BeginForm("Destroy", "Game", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                    <input type="hidden" id="Name" name="Name" value="5">
                                    <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.Buildings.ZakladTkaczy" style="width:65px">
                                    <input type="submit" value="Wyburz" />
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
            <table border="1" cellpadding="50" class="big-table">
                <tr>
                    <th colspan="2" class="building">
                        Farma ziemniaków
                    </th>
                </tr>
                <tr>
                    <td rowspan="2" class="building-image">
                        <img src="@Url.Content("~/Images/Buildings/FarmaZiemniakow.jpg")" />
                    </td>
                    <td class="building-text">
                        Produkuje <img src="@Url.Content("~/Images/ziemniaki.png")" class="image-resource" /> co 2 minuty<br />
                        Koszt wybudowania: 2<img src="@Url.Content("~/Images/deski.png")" class="image-resource" /> 100<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" /><br />
                        Utrzymanie: 20<img src="@Url.Content("~/Images/farmerzy.png")" class="image-resource" /> 5<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" />/min<br />
                        Liczba wybudowanych: @Model.Buildings.FarmaZiemniakow
                    </td>
                </tr>
                @if (Model.YourIsland)
                {
                    <tr>
                        <td class="building-options">
                            @using (Html.BeginForm("Build", "Game", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                <input type="hidden" id="Name" name="Name" value="6">
                                <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.MaxBuildings[6]" style="width:65px">
                                <input type="submit" value="Zbuduj" />
                            }
                            @if (Model.Buildings.FarmaZiemniakow > 0)
                            {
                                <br />
                                using (Html.BeginForm("Destroy", "Game", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                    <input type="hidden" id="Name" name="Name" value="6">
                                    <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.Buildings.FarmaZiemniakow" style="width:65px">
                                    <input type="submit" value="Wyburz" />
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
            <table border="1" cellpadding="50" class="big-table">
                <tr>
                    <th colspan="2" class="building">
                        Destylarnia sznapsu
                    </th>
                </tr>
                <tr>
                    <td rowspan="2" class="building-image">
                        <img src="@Url.Content("~/Images/Buildings/DestylarniaSznapsu.png")" />
                    </td>
                    <td class="building-text">
                        Produkuje <img src="@Url.Content("~/Images/sznaps.png")" class="image-resource" /> z <img src="@Url.Content("~/Images/ziemniaki.png")" class="image-resource" /> co 2 minuty<br />
                        Koszt wybudowania: 2<img src="@Url.Content("~/Images/deski.png")" class="image-resource" /> 100<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" /><br />
                        Utrzymanie: 50<img src="@Url.Content("~/Images/farmerzy.png")" class="image-resource" /> 10<img src="@Url.Content("~/Images/kasa.png")" class="image-resource" />/min<br />
                        Liczba wybudowanych: @Model.Buildings.DestylarniaSznapsu
                    </td>
                </tr>
                @if (Model.YourIsland)
                {
                    <tr>
                        <td class="building-options">
                            @using (Html.BeginForm("Build", "Game", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                <input type="hidden" id="Name" name="Name" value="7">
                                <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.MaxBuildings[7]" style="width:65px">
                                <input type="submit" value="Zbuduj" />
                            }
                            @if (Model.Buildings.DestylarniaSznapsu > 0)
                            {
                                <br />
                                using (Html.BeginForm("Destroy", "Game", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="Id" name="id" value="@Model.Island.Id">
                                    <input type="hidden" id="Name" name="Name" value="7">
                                    <input type="number" id="Number" name="Number" step="1" min="1" max="@Model.Buildings.DestylarniaSznapsu" style="width:65px">
                                    <input type="submit" value="Wyburz" />
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>